.bookingCard {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0
}

.bookingId {
    margin: 0px 20px 0 20px;
    text-align: center;
    width: 100%;
    color: black;
    overflow: hidden;
}

.bookingName {
    margin: 0px 20px 0 30px;
    text-align: center;
    width: 100%;
    color: black;
}

.bookingEstimate {
    margin: 0px 20px 0 40px;
    text-align: center;
    width: 100%;
    color: black;
}

.delete {
    color: white;
    width: 80px;
    height: 40px;
    background-color: red;
    margin-left: 30px;
    margin-right: 20px;
    cursor: pointer;
}
